COMMAND
{display:block;
margin-top:12pt;
font-size:10pt}
TITLE
{display:block;
font-size:12pt;
font-weight:bold;
font-style:italic}
COUNTRY
{display:block;
margin-left:15pt;
font-weight:bold}
PEOPLE
{display:block;
margin-left:15pt}
WINS
{display:block;
margin-left:35pt;
}
COST
{display:block;
margin-left:15pt}
DOP1
{display:block;
font-size:22pt;
margin-left:15pt}
DOP2
{display:block;
font-size:12pt;
color:red;
margin-left:15pt}